.none{
    display: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-c{
  justify-content: center;
}

.justify-s{
    justify-content: flex-start;
}

.justify-e{
    justify-content: flex-end;
}

.mb-5{
  margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.content{
    width: 300px;
    padding: 10px;
}
#sendTarget0,#sendTarget1,#sendTarget2,#sendTarget3{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}
#sendTarget0 input,#sendTarget1 input,#sendTarget2 input,#sendTarget3 input {
    margin-bottom: 5px;
}