:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.none{
  display: none;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-c{
justify-content: center;
}

.justify-s{
  justify-content: flex-start;
}

.justify-e{
  justify-content: flex-end;
}

.mb-5{
margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.content{
  width: 300px;
  padding: 10px;
}